VITE_API_BASE_URL=http://localhost/api
VITE_API_CLIENT_ID=2
VITE_API_CLIENT_SECRET=r5xCmVLdJk0L44lfl33tMOjAxPvfqIjnHpOaPb1i
VITE_API_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIyIiwianRpIjoiZTc4MDIxNjllNzA5NjM1ZTUyYzQyOTdlYTkxZTM5NjBjZTkwZTQ5Mzk1NWUxYjYwMmZjMDhlMDAxYjdhMWI5MmY4ZDYzODM3ODM2NDJlN2EiLCJpYXQiOjE3MzY5OTc3ODYuMDQwNjcxLCJuYmYiOjE3MzY5OTc3ODYuMDQwNjc0LCJleHAiOjE3Njg1MzM3ODYuMDA3MzM4LCJzdWIiOiI0Iiwic2NvcGVzIjpbIioiXX0.mOsB_iz1nLEk7yBvq77gDxC4JZcTbenWptdlFL1Hgjm3LfoaisIxy-uE3CIe8lJTdj89ZDTFxo_w-W82x42mxFeyemPzkOCfZUxKAiA92Rqgh5CHvCA74luu9xxa1UjdkcOFnLRqO80fcfOo0tSbwiA8LhQQwU0HbQjnFQjR9Q2iXdNAx33yVPEzw59XjD16AF7N5OSDdM3y22hOqdb3l7Ku1fYTupWz_aOHaOJQ4-MOkkPrRpdjDcwfpNo1Q2XUtmscVS7xo_HNqlWtngDMdnn5eL2rQnMVVxcCS0B99OSWrmqpbZz7jgs5xkWUry0gRJJkouLlctRFao_BxN0GJWhP37x3GqrIm6e6Sqzqn8kjutqYdRd6gFtREQBhGsmC_29dMvrFgq3736rhBS4eaQ3mkHESrPek-SLoghpIFY30sk5WJlb8RlNET6krfeFKSMqzlLeisY6J-OaAab9tN7RHPQcDxJiJuhqDNrLQK0dxC0L0VEoayAD1L0JkY9WYQhqHnzqS0XkPxMsCQyVSwbLMThyVtW9xQ1_4HyUqGYab2ctOaziiqYuDD-lVrCkdaeVlhsAHg3n8mb3fUrgUGQRzLg09ExzatEDc77cq9LLg4H9BuepG-YcevY4FYvpPAbLwEBqtfLI2y2FoMvaxsjhocZSZkemjsqF-mg2zmsQ